services:
  dev:
    volumes:
      # Mount the project source into the VS Code workspace folder
      - .:/workspaces/turtlebot-maze:cached
      # Ensure proper user permissions
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro

    # Uncomment the next four lines if you will use a ptrace-based debugger like C++, Go, and Rust.
    # cap_add:
    #   - SYS_PTRACE
    # security_opt:
    #   - seccomp:unconfined

    # Add environment variables for ROS
    environment:
      - ROS_DOMAIN_ID=30
      - DISPLAY=${DISPLAY}

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

